* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: linear-gradient(135deg, #0d0d14, #121e32);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 350px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #4f8cff;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.7rem;
}

p {
    color: #9bb3d1;
    margin-bottom: 20px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #1a2a44;
    color: white;
    padding: 14px;
    border-radius: 10px;
    margin: 10px 0;
    text-decoration: none;
    transition: 0.3s;
}

.links a img {
    width: 20px;
}

.links a:hover {
    background: #4f8cff;
    transform: translateY(-3px);
}